Repository EsosaOrumwese/fraud-detection-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: airflow-compose-lint, pytest

airflow-compose-lint:
  name: docker-compose lint (airflow)
  entry: docker compose -f orchestration/airflow/docker-compose.yml config
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: pytest -q
  language: system
  pass_filenames: false

chore(orch): commit unfinished orchestration code. currently working on rewriting my Dockerfile and transfering my src folder into docker container
  docs/logbook/2025-06-20.md
  makefile
  orchestration/airflow/Dockerfile
  orchestration/airflow/dags/daily_synthetic.py
  orchestration/airflow/docker-compose.yml
  orchestration/airflow/requirements.txt
  poetry.lock
  pyproject.toml
  reqs.txt
  tests/unit/test_dag_import.py
Due: airflow-compose-lint, pytest

chore(orch): change Dockerfile to a multi-stage Dockerfile which tracks my pyproject.toml and emits its own requirements.txt
  docs/logbook/2025-06-20.md
  orchestration/airflow/Dockerfile
  orchestration/airflow/requirements.txt
Due: none

chore(ci): Configure AWS Credentials for GitHub Actions
  .github/workflows/ci.yml
  docs/logbook/2025-06-20.md
Due: none

chore(orch): update Dockerfile, placing ARGS at top and docker-compose.yml
  orchestration/airflow/Dockerfile
  orchestration/airflow/docker-compose.yml
Due: airflow-compose-lint

chore(orch): reworked Dockerfile and docker-compose to use repo root as build context and bake in relevant folders and files
  docs/logbook/2025-06-20.md
  docs/logbook/2025-06-21.md
  makefile
  orchestration/airflow/Dockerfile
  orchestration/airflow/docker-compose.yml
Due: airflow-compose-lint

chore(orch): Dockerfile and docker-compose build properly with healthy containers
  orchestration/airflow/Dockerfile
  pyproject.toml
Due: none

refactor(schema): refactor config folder for schemas to schema because it clashed with airflows config folder
  docs/references/[DAT-01]_create_data_schema.md
  docs/references/[DAT-02]_code_init_refactor.md
  docs/references/[DAT-02]_code_walkthrough.md
  docs/references/[DAT-02]_synthetic_payments_gen.md
  docs/references/[ML-01]_code_init_refactor.md
  docs/references/[ML-01]_model_baseline.md
  docs/references/[ML-01]_refactored_code_walkthrough.md
  reqs.txt
  schema/transaction_schema.json
  schema/transaction_schema.yaml
  scripts/bump_schema_version.py
  scripts/ge_bootstrap.py
  scripts/schema_to_json.py
  scripts/schema_to_md.py
  src/fraud_detection/modelling/train_baseline.py
  src/fraud_detection/simulator/generate.py
  tests/unit/test_schema_yaml.py
  tests/unit/test_simulator.py
Due: pytest

chore(orch): dag uploads successful signalling that all its dependencies are in place
  orchestration/airflow/Dockerfile
Due: none

test(orch): smoke tests for dag run smoothly and pass successfully
  docs/logbook/2025-06-21.md
  makefile
Due: none

docs(logs): update logs for 24th June to reflect study on docker
  docs/logbook/2025-06-21.md
  docs/logbook/2025-06-24.md
Due: none

docs(logs): add logs for 25th June to reflect skimming of Airflows docs
  docs/logbook/2025-06-25.md
Due: none

chore(orch): remove unnecessary infra.terraform subfolder from dockerfile
  orchestration/airflow/Dockerfile
Due: none

test(orch): remove the test_dag_import for now as it needs to be run on unix systems.
  orchestration/airflow/dags/daily_synthetic.py
  tests/unit/test_dag_import.py
  tests/unit/test_nuke.py
Due: pytest

refactor(orch): bootstrap.sh now exports AWS credentials to airflow environment during bootstrap
  docs/logbook/2025-06-25.md
  orchestration/airflow/Dockerfile
  orchestration/airflow/scripts/bootstrap.sh
Due: none

refactor(makefile): refactor airflow docker compose make targets
  makefile
Due: none

refactor(orch): grant rw to great_expectations within docker to write to the uncommitted folder
  docs/logbook/2025-06-25.md
  docs/references/[ORCH-02]_research_notes.md
  docs/references/[ORCH-02]_walkthrough_refactor_code.md
  infra/terraform/plan.out
  orchestration/airflow/Dockerfile
Due: none

fix(orch): add in missing airflow UID and GID left out when granting permission to airflow user
  orchestration/airflow/Dockerfile
Due: none

docs(log): update logs
  docs/logbook/2025-06-21.md
  docs/logbook/2025-06-25.md
Due: none

fix(ci): solve error--xmlsec1 is not installed or not in path.
  .github/workflows/ci.yml
  docs/logbook/2025-06-25.md
Due: none

fix(ci): avoid unbound AWS env var error in bootstrap.sh
  docs/logbook/2025-06-25.md
  orchestration/airflow/scripts/bootstrap.sh
Due: none

Path conditions:
  airflow-compose-lint: any of: ^(orchestration/airflow/docker-compose\.yml)$
  pytest: any of: \.py$
